@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #3390F1 #E5E5EA;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 9px;
}

*::-webkit-scrollbar-track {
    background: #E5E5EA;
}

*::-webkit-scrollbar-thumb {
    background-color: #3390F1;
    border-radius: 20px;
    border: 1px solid #E5E5EA;
}

body {
    height: calc(100vh - 80px);
    font-family: "Poppins", sans-serif;
    font-size: 1rem;

}

input {
    border-radius: 18px !important;
    height: 45px;
    font-size: 15px !important;
    box-shadow: -1px 3px 6px -2px rgba(0, 0, 0, 0.32);
}

.container-fluid {
    width: calc(100% - 5%);
    padding-bottom: 15px;
}

.table {
    border-start-start-radius: 45px;
    border-start-end-radius: 45px;
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
    box-shadow: -1px 3px 6px -2px rgba(0, 0, 0, 0.32);
    padding: 0;
    margin: 0;
}

.titulo {
    background-color: #3390F1;
    border-radius: 45px;
}

.titulo tr {
    border-radius: 45px;
}

.titulo th:nth-child(1) {
    border-start-start-radius: 45px;
}

.titulo th:nth-child(5) {
    border-start-end-radius: 45px;
}

.footer {
    border: none !important;
    border-style: none !important;
}

.footer tr {
    border: none !important;
    border-style: none !important;
}

.footer th {
    border: none !important;
    border-style: none !important;
}

.table thead th {
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
}

.table tbody tr {
    background-color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.linkCurriculo a {
    color: #3390F1;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

.nome {
    color: #3390F1;
    font-family: "Poppins", sans-serif;
}

.pesquisar{
    position: relative;
}

.pesquisar .btnPesquisar{
    position: absolute;
    background-color: transparent;
    border: none;
    margin-left: -5px;
}

.pesquisar .imgPesquisa{
    position: absolute;
    background-color: transparent;
    width: 30px;
}

.pesquisar .imgFiltro{
    position: absolute;
    background-color: transparent;
    width: 30px;
}


.pesquisar .imgPesquisa{
    transform: translate(10px,22px) !important;
}

.pesquisar .imgFiltro{
    transform: translate(0px,22px);
    margin-right: 10px;
    right: 0;
    z-index: 1;
}
.divFiltro{
    transform: translate(0px,17px);
    right: 0;
    position: absolute;
    background-color: #3390F1;
    height: 200px;
    width: 250px;
    border-radius: 15px;
    padding: 15px;
}

.card{
    margin-right: 25px;
    margin-bottom: 10px;
}

.divSubFiltro{
    background-color: #fff;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.divSubFiltro img{
    width: 25px;
}
.divSubFiltro span{
    margin-left: 35px;
}

.pesquisar .filtro{
    padding-left: 45px;
    padding-right: 45px;
}

.multipleSelect {
    max-width: 100% !important;
    border-radius: 10px !important;
    box-shadow: -1px 3px 6px -2px rgba(0, 0, 0, 0.32);
}

.vscomp-toggle-button {
    border-radius: 10px !important;
    height: 45px !important;
    width: 100% !important;
    padding: 10px 30px 10px 10px !important;
}

.vscomp-value {
    color: #212529 !important;
    font-size: 15px !important;
    opacity: 1 !important;
    font-family: "Poppins", sans-serif !important;
}