@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
    string active = "";
    string SelectCargos = "";
    string onlickBack = "";

    if (ViewBag.IdUsuarioDadosPessoais > 0)
    { 
        active = "-active";
         onlickBack = "onclick=selecionarVaga()";

     
        foreach (var item in ViewBag.cargos)
        {
            SelectCargos += "'" + item.idCargo + "':'" + item.cargo + "',";

        
        }
        SelectCargos = SelectCargos.Remove(SelectCargos.Length - 1);
    
    }

}
<link rel="stylesheet" href="~/css/estiloFicha.css">
<input id="ErroMesage" value="@ViewBag.Message" type="hidden">
<div class="container h-100">
    <div class="d-flex flex-column align-items-center h-100">
        <p class="p-titulo">Selecione uma opção</p>

        <div class="d-flex flex-row align-items-between div-container-card">

            <div class="px-5">
                <div type="button" class="d-flex flex-column align-items-center div-card" onclick="abrirDadosPessoais()">
                    <div class="div-form-icon-active">
                        <img class="img-icon" src="../img/baixar-seta.png" width="64" height="64" alt="">
                    </div>
                    <p>Dados Pessoais</p>
                </div>
            </div>
            
            <div class="px-5">
                <div type="button" class="d-flex flex-column align-items-center div-card" @onlickBack>
                    <div class="div-form-icon@(active)">
                        <img class="img-icon" src="../img/baixar-seta.png" width="64" height="64" alt=""  />
                    </div>
                 @*   <a href="Questao/?id=1">*@
                    <p>Candidaturas</p>
                @*    </a>*@
                </div>
            </div>

            <div class="px-5">
                <div type="button" class="d-flex flex-column align-items-center div-card">
                    <div class="div-form-icon">
                        <img class="img-icon" src="../img/baixar-seta.png" width="64" height="64" alt="">
                    </div>
                    <p>Ver submissão</p>
                </div>
            </div>

        </div>

    @*    <div class="d-flex flex-column align-items-end justify-content-end w-100 h-100 div-from-end p-3">
            <a type="button" href="formulario" class="btn button-end btn-lg btn-from-end">Próximo</a>
        </div>*@

    </div>

</div>

<script>
    function abrirDadosPessoais(){

        window.location.replace("formulario");
    
    }
    function selecionarVaga() {


        Swal.fire({
            title: 'Vagas',
            input: 'select',
            //Isso aqui você pode passar um array pro java script se preferir
            inputOptions: {
          @Html.Raw(SelectCargos)
                //'1': 'Vaga 1',
                //'2': 'Vaga 2',
                //'3': 'Vaga 3'
            },
            inputPlaceholder: 'Selecione uma vaga',
            showCancelButton: true,
            confirmButtonText: 'Selecionar',
            cancelButtonText: 'Voltar',
            confirmButtonColor: '#3390F1',
            cancelButtonColor: '#6D6D6F',
            inputValidator: function(value) {
                return new Promise(function(resolve, reject) {
                    if (value !== '') {
                        resolve();
                    } else {
                        resolve('Nenhuma vaga selecionada');
                    }
                });
            }
        }).then(function(result) {
            if (result.isConfirmed) {
                                    window.location.replace("Questao?id=" + result.value);
            }
        });
    }


    function ErroCargo() {

        let $LoginModal = $("#ErroMesage").val();

        if ($LoginModal == 1) {

            alertaPadraoErro("Cargo ja foi aplicado");

        }
        //if ($LoginModal == 2) {

        //    alertaPadraoSucesso("Registrado com Sucesso!");

        //}

    }
    ErroCargo();

</script>